{% if object.required == '1' %}
    {% set required = 'required' %}
{% else %}
    {% set required = '' %}
{% endif %}


<div class="form-group">

    {% if object.required == '1' %}
        <label for="{{ object.type }}_{{ object.ID }}">{{ object.caption }} <span
                    style="color:red;">*</span></label>
    {% else %}
        <label for="{{ object.type }}_{{ object.ID }}">{{ object.caption }}</label>
    {% endif %}

    {% if form.developer_mode %}
        <code class="pull-right"> @@{{ object.type }}_{{ object.ID }}</code>
    {% endif %}

    <select
            class="form-control"
            name="dropdown_{{ object.ID }}"
            id="dropdown_{{ object.ID }}"
            data-required-error="{{ object.required_error }}"
            {{ required }}
    >

        <option value="">Please select</option>

        {% for option in objectSQL[object.ID] %}

            {% if option[1] is empty %}
                <option value="{{ option[0]|raw }}">{{ option[0]|raw }}</option>
            {% else %}
                <option value="{{ option[0]|raw }}">{{ option[1]|raw }}</option>
            {% endif %}

        {% endfor %}

    </select>

    <div class="help-block with-errors"></div>

</div>
