{% if object.required == '1' %}
    {% set required = 'required' %}
{% else %}
    {% set required = '' %}
{% endif %}

<div class="form-group">

    {% if object.required == '1' %}
        <label for="{{ object.type }}_{{ object.ID }}">{{ object.caption }} <span style="color:red;">*</span></label>
    {% else %}
        <label for="{{ object.type }}_{{ object.ID }}">{{ object.caption }}</label>
    {% endif %}

    {% if form.developer_mode %}
        <code class="pull-right"> @@{{ object.type }}_{{ object.ID }}</code>
    {% endif %}

    <input
            class="form-control"
            type="text"
            name="textbox_{{ object.ID }}"
            id="textbox_{{ object.ID }}"
            maxlength="{{ object.input_length_max }}"
            data-minlength="{{ object.input_length_min }}"
            data-minlength-error="{{ object.input_length_min_error }}"
            {% if object.regex %}
                pattern="{{ object.regex }}"
            {% endif %}
            data-pattern-error="{{ object.regex_error }}"
            data-required-error="{{ object.required_error }}"
            {{ required }}
    >
    <div class="help-block with-errors"></div>

</div>
{#changed to email and definitely required#}