<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial scale = 1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

        <title>
            {% block title %}{% endblock %}
        </title>
    {% endblock %}
</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#<a class="navbar-brand" href="{{ rootURL }}">Home</a>#}
            <a class="navbar-brand" href="{{ path_for('home') }}">Home</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Forms <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for form in formsAll %}
                            <li>
                                <a href="{{ path_for('form', { 'id' : form.ID } ) }}">{{ form['title'] }}</a>
                            </li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#myModal">About</a></li>
                {#<li><a href="#">About</a></li>#}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}
        <div class="container">
            <p class="text-muted pull-right">
                &#169; {{ "now"|date("Y") }} Jeremy Clarke
            </p>
        </div>
    {% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/sweetalert.min.js"></script>

{% block js %}
{% endblock %}


</body>
</html>