{% extends "base.twig" %}

{% block title %}
    {{ formDetails['title'] }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ formDetails['title'] }}</h1>
        </div>

        {% if formDetails['description'] is not empty %}
            <div class="well">
                <span>{{ formDetails['description']|raw }}</span>
            </div>
        {% endif %}

        <form action="{{ path_for('formInsert', { 'ID': formDetails.ID }) }}" method="post">
            <ul>
                {% for objects in objectsAll %}
                    {% include "objects/#{objects.type}.twig" %}
                    </br>
                    </br>
                {% endfor %}
            </ul>
        </form>

    </div>

{% endblock %}

{% block js %}
    <script>
        // Attach a submit handler to the form
        $("form").submit(function (event) {

            // Stop form from submitting normally
            event.preventDefault();

            // Send the data using post
            var posting = $.post("{{ path_for('formInsert', { 'ID': formDetails.ID }) }}", $(this).serialize());

            // Show the results
            posting.done(function (data) {
                console.log(data);
                if (data.msg) {
                    swal({
                            title: "Something is wrong!",
                            text: data.msg,
                            type: "error"
                        },
                        function () {
                            //location.reload();
                        });
                } else {
                    swal({
                            title: "Success!",
                            text: "Thanks! Your form has been submitted successfully.",
                            type: "success"
                        },
                        function () {
                            location.reload();
                        });
                }
            });
        });
    </script>
{% endblock %}