{% extends "base.twig" %}

{% block title %}
    {{ formDetails.title }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ formDetails.title }}</h1>
        </div>

        {% if formDetails.description is not empty %}
            <div class="well">
                <span>{{ formDetails.description|raw }}</span>
            </div>
        {% endif %}

        <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
              action="{{ path_for('formInsert', { 'ID': formDetails.ID }) }}" method="post" id="pageForm">
            <ul>
                {% for objects in objectsAll %}
                    {% if objects.type != 'label' %}
                        {% if objects.required == '1' %}
                            <label for="{{ objects.type }}_{{ objects.ID }}">{{ objects.caption }} <span
                                        style="color:red;">*</span></label>
                        {% else %}
                            <label for="{{ objects.type }}_{{ objects.ID }}">{{ objects.caption }}</label>
                        {% endif %}
                        </br>
                    {% endif %}

                    {% include "objects/#{objects.type}.twig" %}

                    {% if formDetails.developer_mode == '1' %}
                        <span class="label label-info">@@{{ objects.type }}_{{ objects.ID }}</span>
                    {% endif %}

                    </br>
                    </br>

                {% endfor %}
            </ul>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        // Attach a submit handler to the form
        $("#pageForm").submit(function (event) {

            // Stop form from submitting normally
            event.preventDefault();

            // Send the data using post
            var posting = $.post("{{ path_for('formInsert', { 'ID': formDetails.ID }) }}", $(this).serialize());

            // Show the results
            posting.done(function (data) {
                console.log(data);
                if (data.msg) {
                    swal({
                            title: "Something went wrong!",
                            text: data.msg,
                            type: "error"
                        },
                        function () {
                            //location.reload();
                        });
                } else {
                    swal({
                            title: "Success!",
                            text: "Thanks! Your form has been submitted successfully.",
                            type: "success"
                        },
                        function () {
                            location.reload();
                        });
                }
            });
        });
    </script>
{% endblock %}