{% extends "base.twig" %}

{% block title %}
    {{ formDetails['title'] }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ formDetails['title'] }}</h1>
        </div>

        {% if formDetails['description'] is not empty %}
            <div class="well">
                <span>{{ formDetails['description']|raw }}</span>
            </div>
        {% endif %}

        <form action="{{ path_for('formInsert', { 'ID': formDetails.ID }) }}" method="post">
            <ul>
                {% for objects in objectsAll %}
                    {% include "objects/#{objects.type}.twig" %}
                    </br>
                    </br>
                {% endfor %}
            </ul>
        </form>

    </div>

{% endblock %}

{% block js %}
    <script>
        // Attach a submit handler to the form
        $("form").submit(function (event) {

            // Stop form from submitting normally
            event.preventDefault();

            // Send the data using post
            var posting = $.post("{{ path_for('formInsert', { 'ID': formDetails.ID }) }}", $(this).serialize());

            // Put the results in a div
            posting.done(function (data) {
                console.log(data);
                swal({
                        title: "Success",
                        text: data.msg,
                        type: "success"
                    },
                    function () {
                        location.reload();
                    });

            });
        });
    </script>
{% endblock %}