{% extends "base.twig" %}

{% block title %}
    {{ form.title }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h1>{{ form.title }}</h1>
        </div>

        {% if form.description is not empty %}
            <blockquote>
                <span>{{ form.description|raw }}</span>
            </blockquote>
        {% endif %}

        <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12" method="post" id="pageForm" data-toggle="validator">
            <ul>
                {% if objects is empty %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <strong>Time to add objects!</strong> Your form is empty and has no objects yet; please add some
                        form objects using the objects table.
                    </div>
                {% endif %}

                {% for object in objects %}
                    {% if (object.type == 'checkbox') or (object.type =='dropdown') or (object.type == 'label') or (object.type == 'radio') or (object.type == 'textarea') or (object.type == 'textbox') %}

                        {% include "objects/#{object.type}.twig" %}

                    {% else %}
                        <span class="label label-warning">Invalid object with ID {{ object.ID }}: "{{ object.type }}". Please check object type.</span>
                        <br>
                    {% endif %}

                    </br>

                {% endfor %}

                {% if objects is not empty %}
                    {% if form.submit_statement is not empty %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                        </div>
                    {% else %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <strong>Hold up!</strong> To enable the Submit button, please provide an SQL
                            statement to execute upon submission.
                        </div>
                    {% endif %}
                {% endif %}


            </ul>

        </form>
    </div>

{% endblock %}

{% block js %}
    <script>

        //        TODO: turn off SQL error messages if developer mode is off

        $('#pageForm').validator().submit(function (e) {
            if (e.isDefaultPrevented()) {
                console.log('Validation error');
            } else {

                // Stop form from submitting normally
                e.preventDefault();

//               $('#submitButton').prop('disabled', true).text("Working...");

                // Send the data using post
                var posting = $.post("{{ path_for('formInsert', {'ID': form.ID}) }}", $("#pageForm").serialize());

                // Show the results
                posting.done(function (data) {
                    console.log(data);

                    if (!data.success) {
                        swal({
                            title: data.msgTitle,
                            text: data.msgBody,
                            type: "warning",
                            showConfirmButton: true
                        });
                    } else {
                        swal({
                                title: data.msgTitle,
                                text: data.msgBody,
                                type: "success",
                                showConfirmButton: true
                            },
                            function () {
                                location.reload();
                            });
                    }
                });
            }
        });

    </script>

{% endblock %}

