{% extends "base.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if user %}
            <h1>Welcome, {{ user.first_name }}.</h1>
        {% else %}
            <h1>Welcome, guest user.</h1>
        {% endif %}
    </div>

    <div class="well">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, bibendum at sem eu, tincidunt laoreet nisi.
            Phasellus dictum, nisi id aliquet scelerisque, dui metus viverra nunc, ut placerat nulla lorem quis quam. Duis non lacus neque. Proin in iaculis eros.
            Vestibulum ornare viverra nulla, tristique malesuada mauris euismod et.
        </span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Select a form...</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">

                    {% for form in forms %}
                        {% if form.private == 0 %}
                            <a href="{{ path_for('form', { 'id' : form.ID } ) }}"
                               class="list-group-item">{{ form.title }}</a>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">My Private forms</h3>
            </div>
            <div class="panel-body">
                {% if user %}
                    <ul class="list-group">
                        {% if formsPrivate is empty %}
                            <span>There are currently no private forms assigned to you.</span>
                        {% else %}
                            {% for form in formsPrivate %}
                                <a href="{{ path_for('form', { 'id' : form.ID } ) }}" class="list-group-item">    <span
                                            class="badge"><span
                                                class="glyphicon glyphicon-lock"></span></span> {{ form.title }}</a>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% else %}
                    <span>Please <a href="#" data-toggle="modal" data-target="#loginModal">login</a> to access private forms.</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
