{% extends "base.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if session.user is defined %}
            <h1>Welcome, {{ session.user.name }}.</h1>
        {% else %}
            <h1>Welcome, guest user.</h1>
        {% endif %}
    </div>

    <div class="well">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elit enim, bibendum at sem eu, tincidunt laoreet nisi.
            Phasellus dictum, nisi id aliquet scelerisque, dui metus viverra nunc, ut placerat nulla lorem quis quam. Duis non lacus neque. Proin in iaculis eros.
            Vestibulum ornare viverra nulla, tristique malesuada mauris euismod et.</span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Public forms</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">

                    {% for form in formsAll %}
                        <a href="{{ path_for('form', { 'id' : form.ID } ) }}"
                           class="list-group-item">{{ form.title }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Private forms</h3>
            </div>
            <div class="panel-body">
                {% if session.user is defined %}
                    <ul class="list-group">

                        {% for form in formsAll %}
                            <a href="{{ path_for('form', { 'id' : form.ID } ) }}"
                               class="list-group-item">{{ form.title }}</a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span>Please <a href="#" data-toggle="modal" data-target="#myModal">login</a> to access private forms.</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
